@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
h2{
    font-family: 'Story Script';
}
h6 {
    text-align: justify;
}
p {
    font-family: 'Fjalla One';
}
form{
    height: 300px;
}

.info{
    height: 300px;
}