@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body, html{
    height: 100%;
}

body{
    background-image: url(../img/trees.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h2{
    font-family: 'Lobster Two';
}
h6 {
    font-family: 'Libre Baskerville';
    text-align: justify;
}
p {
    font-family: 'Fjalla One';
}
form{
    height: 400px;
}

.info{
    height: auto;
}
.cor-fundo {
    background-color: rgba(183, 224, 238, 0.896);
    border-radius: 10px;
    color: black;
}

.carousel-item img{
    max-height: 500px;
    max-width: 300px;
    border-radius: 10px;
}