@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body, html{
    height: 100%;
}

body{
    background-image: url(../img/trees.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-content: space-around;
}

form{
    height: 450px;
}

.row{
    gap: 20px;
}

.cor-fundo {
    background-color: rgba(183, 224, 238, 0.896);
    border-radius: 10px;
    color: black;
}

ul{
   text-align: justify;
}

li{
    font-size: 20px;
}

h2{
    font-family: 'Lobster Two';
}
h6 {
    font-family: 'Libre Baskerville';
    text-align: justify;
}
p {
    font-family: 'Fjalla One';
}

.col, .col-lg{
    border: 1px solid rgb(223, 255, 204);
}

.imagens{
    gap: 7px;
    margin-bottom: 7px;
}

.img-fluid{
    border-radius: 10px;
    width: 50%;
    max-height: 200px;
}